@{
    ViewBag.Title = "Home Page";
}

<div class="card text-center">
    <div class="card-header">
        <h2>Car Insurance</h2>
    </div>
    <div class="card-body">
        <h4 class="card-title">Please choose your view: </h4>
        <a href="/Insuree" class="btn btn-primary">Insuree</a>
        <a href="/Insuree/admin" class="btn btn-primary">Admin</a>
    </div>
    <div class="card-footer text-muted mt-auto">
       
    </div>
</div>
